<!DOCTYPE html>
<html ng-app="barsPlusApp">
	<head>
	<!--
		barsPlus Test Application
		 
		Used to quickly test new features without Qlik Sense

		Author: L. Woodside
		Modification History:

		Version		Person			Date			Description
		V1.0.0		L. Woodside		19-Dec-2016		Initial Release
		V1.1.0		L. Woodside		29-Dec-2016		Added text on bars
		V1.2.0		L. Woodside		07-Jan-2017		Support for multiple measures
	-->
	<meta charset="utf-8">
    <title>Bars Plus Test Application</title>
	<script src="lib/jquery.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/d3.v3.js"></script>
	<!--script src="https://d3js.org/d3-format.v1.min.js"></script-->
	<script src="ldw-barsPlus.js"></script>
	<link href="barsPlus.css" rel="stylesheet" />
    <script>
        angular.module("barsPlusApp", [])
			.directive("barsPlus", function() {
				return {
					link: function(scope, element, attrs) {

						var g = scope.g;
						
						g.nDims = 2;

						g.id = scope.id;
						g.component = d3.select(element[0]).attr("id",g.id);

						g.rawData = scope.data;
						g.width = element.parent().width();
						g.height = element.parent().height();
						g.inSelections = false;
						g.editMode = false;

						// number of defined dimensions and measures
						g.defDims = 2;
						g.defMeas = 1;
						g.measures = [];

						g.axisTitleD = attrs["axisTitleD"];
						g.axisTitleM = attrs["axisTitleM"];
						g.selectionMode = null;
						g.orientation = attrs["orientation"];
						g.normalized = attrs["normalized"];
						g.showDeltas = attrs["showDeltas"];
						g.barGap = attrs["barGap"];
						g.outerGap = attrs["outerGap"];
						g.gridHeight = attrs["gridHeight"];

						g.backgroundColor = attrs["backgroundColor"];
						g.colorScheme = attrs["colorScheme"];
						g.colorOffset = attrs["colorOffset"];
						g.showLegend = attrs["showLegend"];
						g.legendPosition = attrs["legendPosition"];
						g.legendSize = attrs["legendSize"];
						g.legendSpacing = attrs["legendSpacing"];

						g.labelTitleD = attrs["labelTitleD"];
						g.labelStyleD = attrs["labelStyleD"];
						g.gridlinesD = attrs["gridlinesD"];
						g.axisMarginD = attrs["axisMarginD"];

						g.labelTitleM = attrs["labelTitleM"];
						g.labelStyleM = attrs["labelStyleM"];
						g.gridlinesM = attrs["gridlinesM"];
						g.axisMarginM = attrs["axisMarginM"];
						g.ticks = attrs["ticks"];
						g.axisFormatM = attrs["axisFormatM"];
						g.axisFormatMs = attrs["axisFormatMs"];

                        g.showTexts = attrs["showTexts"];
                        g.showDim = attrs["showDim"];
                        g.showTot = attrs["showTot"];
                        g.innerBarPadH = attrs["innerBarPadH"];
                        g.innerBarPadV = attrs["innerBarPadV"];
                        g.textSizeAbs = attrs["textSizeAbs"];
                        g.textSizeFactor = attrs["textSizeFactor"];
                        g.textSize = attrs["textSize"];
                        g.textDots = attrs["textDots"];
                        g.textColor = attrs["textColor"];
                        g.vAlign = attrs["vAlign"];
                        g.hAlign = attrs["hAlign"];
						g.totalFormatM = attrs["totalFormatM"];
						g.totalFormatMs = attrs["totalFormatMs"];

						g.transitions = attrs["transitions"];
						g.transitionDelay = attrs["transitionDelay"];
						g.transitionDuration = attrs["transitionDuration"];
						g.ease = attrs["ease"];

						g.initData()
						g.initChart();
						g.createBars();
						g.updateBars();

						scope.$watch(function() { return scope.data; }, function(newValue, oldValue) {
							if(newValue != oldValue) {
								g.rawData = newValue;
								if (g.rawData[0].length - 1 != g.defDims) {
									g.defDims = g.rawData[0].length - 1;
									g.initData();
									g.refreshChart();
								}
								else {
									g.initData();
									g.updateBars();
								}
							}
						});
						scope.$watch(
							function () {
								return element.parent().width() + "," + element.parent().height();
							}
							,function(newValue, oldValue) {
								if (newValue != oldValue) {
									var t = newValue.split(",");
									g.width = t[0];
									g.height = t[1];
									g.refreshChart();
								}
							}
						);
					},
					restrict: "EA"
				}
			})
            .controller("barsPlusCtrl", function ($scope) {
			
				$scope.data1 = [
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"12,126","qNum":12126,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"5,616","qNum":5616,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"11,017","qNum":11017,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"5,198","qNum":5198,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"7,944","qNum":7944,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"19,411","qNum":19411,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"16,111","qNum":16111,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"7,634","qNum":7634,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"9,875","qNum":9875,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jan","qNum":1,"qElemNumber":0,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"3,488","qNum":3488,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"14,822","qNum":14822,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"4,749","qNum":4749.1,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"3,799","qNum":3799,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"5,154","qNum":5154,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"4,600","qNum":4600,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"14,260","qNum":14260,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"14,701","qNum":14701,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"11,991","qNum":11991,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"5,599","qNum":5599,"qElemNumber":0,"qState":"L"}],
[{"qText":"Feb","qNum":2,"qElemNumber":1,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"5,715","qNum":5715,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"19,468","qNum":19468,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"6,123","qNum":6123,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"19,026","qNum":19026,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"5,974","qNum":5974,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"3,831","qNum":3831,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"7,344","qNum":7344,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"8,317","qNum":8317,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"23,990","qNum":23990,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"4,576","qNum":4576,"qElemNumber":0,"qState":"L"}],
[{"qText":"Mar","qNum":3,"qElemNumber":2,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"3,282","qNum":3282,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"15,939","qNum":15939,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"6,386","qNum":6386,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"20,961","qNum":20961,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"12,590","qNum":12590,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"4,040","qNum":4040,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"14,168","qNum":14168,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"9,114","qNum":9114,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"13,596","qNum":13596,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"4,779","qNum":4779,"qElemNumber":0,"qState":"L"}],
[{"qText":"Apr","qNum":4,"qElemNumber":3,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"5,909","qNum":5909,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"15,781","qNum":15781,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"4,871","qNum":4871.1,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"3,275","qNum":3275,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"6,226","qNum":6226,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"6,937","qNum":6937,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"20,027","qNum":20027,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"8,306","qNum":8306,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"10,039","qNum":10039,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"5,481","qNum":5481,"qElemNumber":0,"qState":"L"}],
[{"qText":"May","qNum":5,"qElemNumber":4,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"5,361","qNum":5361,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"10,338","qNum":10338,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"4,448","qNum":4448,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"5,657","qNum":5657,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"4,261","qNum":4261,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"8,294","qNum":8294,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"10,718","qNum":10718,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"5,649","qNum":5649,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"8,686","qNum":8686,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"6,121","qNum":6121,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jun","qNum":6,"qElemNumber":5,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"3,206","qNum":3206,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"8,071","qNum":8071,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"3,539","qNum":3539,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"9,625","qNum":9625,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"4,136","qNum":4136,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"7,406","qNum":7406,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"13,525","qNum":13525,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"9,528","qNum":9528,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"4,794","qNum":4794,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"8,062","qNum":8062,"qElemNumber":0,"qState":"L"}],
[{"qText":"Jul","qNum":7,"qElemNumber":6,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"2,649","qNum":2649,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"9,609","qNum":9609,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Baked Goods","qNum":"NaN","qElemNumber":1,"qState":"O"},{"qText":"27,895","qNum":27895,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"22,473","qNum":22473,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"8,227","qNum":8227,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"7,951","qNum":7951,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"12,650","qNum":12650,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"12,039","qNum":12039,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"4,084","qNum":4084,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Starchy Foods","qNum":"NaN","qElemNumber":16,"qState":"O"},{"qText":"5,443","qNum":5443,"qElemNumber":0,"qState":"L"}],
[{"qText":"Aug","qNum":8,"qElemNumber":7,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"6,388","qNum":6388,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"12,387","qNum":12387,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"23,427","qNum":23427,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"37,708","qNum":37708,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"6,207","qNum":6207,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"8,509","qNum":8509,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"8,366","qNum":8366,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"18,118","qNum":18118,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"4,759","qNum":4759,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Starchy Foods","qNum":"NaN","qElemNumber":16,"qState":"O"},{"qText":"2,818","qNum":2818,"qElemNumber":0,"qState":"L"}],
[{"qText":"Sep","qNum":9,"qElemNumber":8,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"4,106","qNum":4106,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"8,193","qNum":8193,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Baked Goods","qNum":"NaN","qElemNumber":1,"qState":"O"},{"qText":"27,910","qNum":27910,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"10,143","qNum":10143,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"8,037","qNum":8037,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"9,315","qNum":9315,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"12,362","qNum":12362,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"10,194","qNum":10194,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"5,119","qNum":5119,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Starchy Foods","qNum":"NaN","qElemNumber":16,"qState":"O"},{"qText":"5,500","qNum":5500,"qElemNumber":0,"qState":"L"}],
[{"qText":"Oct","qNum":10,"qElemNumber":9,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"7,855","qNum":7855,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"15,974","qNum":15974,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"3,261","qNum":3261.1,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"2,802","qNum":2802,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"19,603","qNum":19603,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"6,241","qNum":6241,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"12,906","qNum":12906,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"10,895","qNum":10895,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"12,251","qNum":12251,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"3,535","qNum":3535,"qElemNumber":0,"qState":"L"}],
[{"qText":"Nov","qNum":11,"qElemNumber":10,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"4,801","qNum":4801,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Alcoholic Beverages","qNum":"NaN","qElemNumber":0,"qState":"O"},{"qText":"9,313","qNum":9313,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Baking Goods","qNum":"NaN","qElemNumber":2,"qState":"O"},{"qText":"3,483","qNum":3483,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Beverages","qNum":"NaN","qElemNumber":3,"qState":"O"},{"qText":"4,325","qNum":4325,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Canned Foods","qNum":"NaN","qElemNumber":5,"qState":"O"},{"qText":"2,724","qNum":2724,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Dairy","qNum":"NaN","qElemNumber":7,"qState":"O"},{"qText":"8,167","qNum":8167,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Deli","qNum":"NaN","qElemNumber":8,"qState":"O"},{"qText":"12,905","qNum":12905,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Frozen Foods","qNum":"NaN","qElemNumber":10,"qState":"O"},{"qText":"2,916","qNum":2916,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Produce","qNum":"NaN","qElemNumber":12,"qState":"O"},{"qText":"10,134","qNum":10134,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Snack Foods","qNum":"NaN","qElemNumber":14,"qState":"O"},{"qText":"6,432","qNum":6432,"qElemNumber":0,"qState":"L"}],
[{"qText":"Dec","qNum":12,"qElemNumber":11,"qState":"O"},{"qText":"Others","qNum":"NaN","qElemNumber":-3,"qState":"L","qIsOtherCell":true},{"qText":"3,633","qNum":3633,"qElemNumber":0,"qState":"L"}]
]
;

				$scope.data2 = [];
                for (var i = 0; i < $scope.data1.length; i++) {
                    if ($scope.data1[i][0].qText != "Feb" && Math.random() > 0.4) {
                        $scope.data2.push($scope.data1[i]);
                    }
                }
;

$scope.oneDim1 = [
[{qText: "January"},{qNum: 3314225.12057077, qText: "$3,314,225"}],
[{qText: "February"},{qNum: 3867154.15686122, qText: "$3,867,154"}],
[{qText: "March"},{qNum: 1011947.68735133, qText: "$1,011,948"}],
[{qText: "April"},{qNum: 1867014.07439439, qText: "$1,867,014"}],
[{qText: "May"},{qNum: 1764771.31740971, qText: "$1,764,771"}],
[{qText: "June"},{qNum: 862750.253627517, qText: "$862,750"}],
[{qText: "July"},{qNum: 913397.900057612, qText: "$913,398"}],
[{qText: "August"},{qNum: 4676667.32773313, qText: "$4,676,667"}],
[{qText: "September"},{qNum: 4243298.84827118, qText: "$4,243,299"}],
[{qText: "October"},{qNum: 3261345.35070393, qText: "$3,261,345"}],
[{qText: "November"},{qNum: 4585937.24398727, qText: "$4,585,937"}],
[{qText: "December"},{qNum: 8394006.77426958, qText: "$8,394,007"}]
];

$scope.oneDim2 = [
//[{qText: "January"},{qNum: 3314225.12057077, qText: "$3,314,225"}],
[{qText: "February"},{qNum: 3867154.15686122, qText: "$3,867,154"}],
[{qText: "March"},{qNum: 1011947.68735133, qText: "$1,011,948"}],
//[{qText: "April"},{qNum: 1867014.07439439, qText: "$1,867,014"}],
[{qText: "May"},{qNum: 1764771.31740971, qText: "$1,764,771"}],
//[{qText: "June"},{qNum: 862750.253627517, qText: "$862,750"}],
[{qText: "July"},{qNum: 913397.900057612, qText: "$913,398"}],
[{qText: "August"},{qNum: 4676667.32773313, qText: "$4,676,667"}],
//[{qText: "September"},{qNum: 4243298.84827118, qText: "$4,243,299"}],
[{qText: "October"},{qNum: 3261345.35070393, qText: "$3,261,345"}],
[{qText: "November"},{qNum: 4585937.24398727, qText: "$4,585,937"}],
//[{qText: "December"},{qNum: 8394006.77426958, qText: "$8,394,007"}]
];
				$scope.data = $scope.data1;
				$scope.g = Object.create(ldwbarsPlus);
				$scope.id = "myId";
				$scope.setData = function(i) {
					$scope.g.normalized = "";
					if (i == 1) { // full-data
						if ($scope.g.nDims == 1) {
							$scope.data = $scope.oneDim1;
						}
						else {
							$scope.data = $scope.data1;
						}
					}
					else { // reduced-data
						if ($scope.g.nDims == 1) {
							$scope.data = $scope.oneDim2;
						}
						else {
							$scope.data = $scope.data2;
						}
					};
				};
                $scope.transpose = function() {
                    if ($scope.g.nDims > 1) {
                        for (var i = 0; i < $scope.data.length; i++) {
                            var x = $scope.data[i][0];
                            $scope.data[i][0] = $scope.data[i][1];
                            $scope.data[i][1] = x;
                        }
                    }
                }
				$scope.doResize = function() {
					var div = $("#myContainer");
					if (div.width() == 700) {
						div.width(350);
						div.height(175);
					}
					else {
						div.width(700);
						div.height(350);
					}
				}
				$scope.refresh = function() {
					$scope.g.refreshChart();
				}
				
			})
			;
    </script>
</head>
<body ng-controller="barsPlusCtrl">
<style>
label, input, select {
	font-family: sans-serif;
	font-size: 10pt;
}
</style>
<div style="font-family: sans-serif; font-size: 11px">
	<button type="button" ng-click="setData(1)">Full Data</button>
	<button type="button" ng-click="setData(2)">Reduced Data</button>
	<button type="button" ng-click="doResize()">Resize Toggle</button>
    <button type="button" ng-click="transpose(); g.initData(); refresh()">Transpose</button>
	<button type="button" ng-click="refresh()">Refresh</button>
	<br><br>
	<label>Bar orientation</label>
	<select ng-model="g.orientation" ng-change="refresh()">
		<option value="H">Horizontal</option>
		<option value="V">Vertical</option>
	</select>
	<label>Normalized: </label>
	<select ng-model="g.normalized" ng-change="g.initData(); refresh()">
		<option value="">Not Normalized</option>
		<option value="normalized">Normalized</option>
	</select>
	<label>Show Deltas: </label>
	<select ng-model="g.showDeltas" ng-change="g.initData(); refresh()">
		<option value="">No deltas</option>
		<option value="showDeltas">Show Deltas</option>
	</select>
	<label>Bar Gap: <input size="3" type="text" ng-model="g.barGap" ng-blur="refresh()"></label>
	<label>Outer Gap: <input size="3" type="text" ng-model="g.outerGap" ng-blur="refresh()"></label>
	<label>Grid Height: <input size="3" type="text" ng-model="g.gridHeight" ng-blur="refresh()"></label>
	<br><br>
	<label>Dimension title: <input size="10" type="text" ng-model="g.axisTitleD" ng-blur="refresh()"></label>
	<label>Dimension labels/title</label>
	<select ng-model="g.labelTitleD" ng-change="refresh()">
		<option value="B">Labels and Title</option>
		<option value="L">Labels only</option>
		<option value="T">Title only</option>
		<option value="N">Neither</option>
	</select>
	<label>Dimension label style:</label>
	<select ng-model="g.labelStyleD" ng-change="refresh()">
		<option value="A">Auto</option>
		<option value="T">Tilted</option>
		<option value="S">Staggered</option>
		<option value="H">Horizontal</option>
	</select>
	<label>Dimension gridlines: </label>
	<select ng-model="g.gridlinesD" ng-change="refresh()">
		<option value="">No gridlines</option>
		<option value="gridlinesD">Gridlines</option>
	</select>
	<br><br>
	<label>Dimension axis margin: </label>
	<select ng-model="g.axisMarginD" ng-change="refresh()">
		<option value="N">Narrow</option>
		<option value="M">Medium</option>
		<option value="W">Wide</option>
	</select>
	<br><br>
	<label>Measure title: <input size="10" type="text" ng-model="g.axisTitleM" value="Sales Amount (USD)" ng-blur="refresh()"></label>
	<label>Measure labels/title</label>
	<select ng-model="g.labelTitleM" ng-change="refresh()">
		<option value="B">Labels and Title</option>
		<option value="L">Labels only</option>
		<option value="T">Title only</option>
		<option value="N">Neither</option>
	</select>
	<label>Measure label style:</label>
	<select ng-model="g.labelStyleM" ng-change="refresh()">
		<option value="A">Auto</option>
		<option value="T">Tilted</option>
		<option value="S">Staggered</option>
		<option value="H">Horizontal</option>
	</select>
	<label>Measure gridlines: </label>
	<select ng-model="g.gridlinesM" ng-change="refresh()">
		<option value="">No gridlines</option>
		<option value="gridlinesM">Gridlines</option>
	</select>
	<br><br>
	<label>Measure axis margin: </label>
	<select ng-model="g.axisMarginM" ng-change="refresh()">
		<option value="N">Narrow</option>
		<option value="M">Medium</option>
		<option value="W">Wide</option>
	</select>
	<label>Measure format: </label>
	<select ng-model="g.axisFormatM" ng-change="refresh()">
		<option value="A">Auto</option>
		<option value="N">Number</option>
		<option value="P">Percent</option>
		<option value="S">SI-Notation (K, M, etc)</option>
		<option value="C">Custom</option>		
	</select>
	<label>Format: <input size="8" type="text" ng-model="g.axisFormatMs" ng-blur="refresh()"></label>
	<label>Ticks: </label>
	<select ng-model="g.ticks" ng-change="refresh()">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
	</select>
	<br><br>
	<label>Color scheme: </label>
	<select ng-model="g.colorScheme" ng-change="refresh()">
		<option value="category20b">category20b</option>
		<option value="category20c">category20c</option>
		<option value="category20">category20</option>
		<option value="category10">category10</option>
		<option value="google20">google20</option>
		<option value="custom100">custom100</option>
		<option value="qlikView18">qlikView18</option>
		<option value="qlikSense12">qlikSense12</option>
	</select>
	<label>Offset: <input size="5" type="text" ng-model="g.colorOffset" ng-blur="refresh()"></label>
	<label>Background Color: </label>
	<select ng-model="g.backgroundColor" ng-change="refresh()">
		<option value="White">White</option>
		<option value="Silver">Silver</option>
		<option value="Azure">Azure</option>
		<option value="#f2f2f2">#f2f2f2</option>
	</select>
	<br><br>
	<label>Transition Delay: <input size="5" type="text" ng-model="g.transitionDelay" ng-blur="refresh()"></label>
	<label>Transition Duration: <input size="5" type="text" ng-model="g.transitionDuration" ng-blur="refresh()"></label>
	<select ng-model="g.ease" ng-change="refresh()">
		<option value="linear">linear</option>
		<option value="quad">quad</option>
		<option value="cubic">cubic</option>
		<option value="sin">sin</option>
		<option value="exp">exp</option>
		<option value="circle">circle</option>
		<option value="elastic">elastic</option>
		<option value="back">back</option>
		<option value="bounce">bounce</option>
	</select>
	<label>Dims: </label>
	<select ng-model="g.nDims" ng-change="setData(1); refresh()">
		<option value="1">One</option>
		<option value="2">Two</option>
	</select>
	<label>Single Color: </label>
	<select ng-model="g.singleColor" ng-change="refresh()">
		<option value="singleColor">Single Color</option>
		<option value="">Multi-color</option>
	</select>
	<br><br>
	<label>Show Legend: </label>
	<select ng-model="g.showLegend" ng-change="refresh()">
		<option value="">No legend</option>
		<option value="showLegend">Show legend</option>
	</select>
	<label>Legend position: </label>
	<select ng-model="g.legendPosition" ng-change="refresh()">
		<option value="R">right</option>
		<option value="L">left</option>
		<option value="T">top</option>
		<option value="B">bottom</option>
	</select>
	<label>Legend size: </label>
	<select ng-model="g.legendSize" ng-change="refresh()">
		<option value="N">Narrow</option>
		<option value="M">Medium</option>
		<option value="W">Wide</option>
	</select>
    <label>Spacing: </label>
	<select ng-model="g.legendSpacing" ng-change="refresh()">
		<option value="N">Narrow</option>
		<option value="M">Medium</option>
		<option value="W">Wide</option>
	</select>
	<br><br>
    <label>Text on Bars: </label>
	<select ng-model="g.showTexts" ng-change="refresh()">
		<option value="N">No text on bars</option>
		<option value="B">Text on bars</option>
		<option value="T">Show total</option>
		<option value="A">Show both</option>
	</select>
    <label>Bar Show: </label>
	<select ng-model="g.showDim" ng-change="refresh()">
		<option value="M">Measure</option>
		<option value="P" ng-if="g.normalized">Percent</option>
		<option value="D">Dimension</option>
	</select>
    <label ng-if="g.showTexts == 'T' || g.showTexts == 'A'">Total Show: 
	<select ng-model="g.showTot" ng-change="refresh()">
		<option value="M">Measure</option>
		<option value="D">Dimension</option>
	</select></label>
	<label>Inner Pad Horiz: <input size="3" type="text" ng-model="g.innerBarPadH" ng-change="refresh()"></label>
	<label>Inner Pad Vert: <input size="3" type="text" ng-model="g.innerBarPadV" ng-change="refresh()"></label>
    <label>Size: </label>
	<select ng-model="g.textSizeAbs" ng-change="refresh()">
		<option value="textSizeAbs">Fixed</option>
		<option value="">Relative</option>
	</select>
	<label>Size factor: <input size="3" type="text" ng-model="g.textSizeFactor" ng-blur="refresh()"></label>
	<label>Size: <input size="3" type="text" ng-model="g.textSize" ng-blur="refresh()"></label>
    <br><br>
    <label>Show if dots: </label>
	<select ng-model="g.textDots" ng-change="refresh()">
		<option value="textDots">Show if dots</option>
		<option value="">No show</option>
	</select>
    <label>Text Color: </label>
	<select ng-model="g.textColor" ng-change="refresh()">
		<option value="Auto">Auto</option>
		<option value="black">black</option>
		<option value="white">white</option>
		<option value="gray">gray</option>
	</select>
    <label>Vert Align: </label>
	<select ng-model="g.vAlign" ng-change="refresh()">
		<option value="C">Center</option>
		<option value="T">Top</option>
		<option value="B">Bottom</option>
	</select>
    <label>Horiz Align: </label>
	<select ng-model="g.hAlign" ng-change="refresh()">
		<option value="C">Center</option>
		<option value="L">Left</option>
		<option value="R">Right</option>
	</select>
	<label>Total format: </label>
	<select ng-model="g.totalFormatM" ng-change="refresh()">
		<option value="N">Number</option>
		<option value="P">Percent</option>
		<option value="S">SI-Notation (K, M, etc)</option>
		<option value="C">Custom</option>		
	</select>
	<label>Format: <input size="8" type="text" ng-model="g.totalFormatMs" ng-blur="refresh()"></label>
    <br><br>
</div>
		<div id="myContainer" class="qv-object-barsPlus" style="display: inline-block; width: 700px; height: 400px">
			<bars-plus
				axis-title-d="Sales Month"
				axis-title-m="Sales Amount (USD)"
				orientation="H"
				normalized="normalized"
				show-deltas="showDeltas"
				bar-gap="0.3"
				outer-gap="0.3"
				grid-height="1"
				background-color="White"
				color-scheme="category20b"
				color-offset="0"
				
				show-legend=""
				legend-position="R"
				legend-size="M"
				legend-spacing="M"

				label-title-d="B"
				label-style-d="H"
				gridlines-d=""
				axis-margin-d="M"
				
				label-title-m="B"
				label-style-m="H"
				gridlines-m=""
				axis-margin-m="M"
				ticks="5"
				axis-format-m="C"
				axis-format-ms=",.3s"

                show-texts="B"
                show-dim="M"
                show-tot="M"
                inner-bar-pad-h="4"
                inner-bar-pad-v="2"
                text-size-abs="textSizeAbs"
                text-size-factor="1"
                text-size="8"
                text-dots="textDots"
                text-color="Auto"
                v-align="C"
                h-align="C"
				total-format-m="C"
				total-format-ms=",.3s"
				
				transitions="transitions"
				transition-delay="100"
				transition-duration="1000"
				ease="linear"
				>
			</bars-plus>
		</div>
</body>
</html>
